<% @robots.each do |robot| %>
  <article>
    <h4>Id: <%= robot[:id] %></h4>
    <h4>Name: <%= robot[:name] %></h4>
    <h4>City: <%= robot[:city] %></h4>
    <h4>State: <%= robot[:state] %></h4>
    <h4>Avatar: <%= robot[:avatar] %></h4>
    <h4>Birthdate: <%= robot[:birthdate] %></h4>
    <h4>Date Hired: <%= robot[:date_hired] %></h4>
    <h4>Department: <%= robot[:department] %></h4>

    <form action="/robots/<%= robot[:id] %>/edit" method="GET">
      <input type="submit" value="Edit">
    </form>

    <form action="/robots/<%= robot[:id] %>" method="POST">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" value="Delete">
    </form>

  </article>
<% end %>
